*{
    margin: 0px;
    padding: 0px;
    
}
header{
    background-image: url(IMG/im4.jpg);
    height: 800px;
    background-size: cover;
   
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 50px;
    min-height: 400px;
    margin-right: 40px;
    font-size: 24px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    columns: #fff;
    padding: 5px 30px;
    border: 1px solid transparent;
    transition: 0.5 ease;
    color: white;
}
ul li a:hover{
    background-color: #fff;
    color: black;
}
ul li.active a{
    background-color: #fff;
    color: #000;
} 
.logo img{
    float: left;
    width: 100px;
    height: auto;
    height: 80px;
    padding-top: 30px;
   margin-top: 220px;
   margin-left: 130px;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-100%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70%;
}
.button{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: 0.5 ease;
    font-size: 24px;
    text-decoration: none;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}
.sub-menu{
    display: none;
    top: 6%;
    position: relative;
}
.sub-menu ul{
    position: absolute;
}
.main ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: blue;
    margin-top: 12px;
    margin-left: -8px;

}
.main ul li:hover .sub-menu ul{
    display: block;
    margin: 6px;
}
.main ul li:hover .sub-menu ul li{
    width: 75px;
    padding: 5px;
    border-bottom: 1px #fff;
    background: transparent;
    transition: 0.4 ease;
    text-align: left;
    border-radius: 0px;
}
p{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #333;
    
    font-family: sans-serif;
    padding-top: 300px;
  }
  .avis{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #070707;
    
    font-family: Courier;
    padding-top:50px;
  }
