/* Style du tableau */
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style de l'en-tête du tableau */
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Style des lignes du tableau */
  .table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Style des lignes alternatives du tableau */
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Style des lignes au survol */
  .table tr:hover {
    background-color: #e6e6e6;
  }
  
  
  
  
  
  
  